@import url('./fonts.scss');
@import url('./theme/imports.scss');

* {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
    text-decoration: none;
    text-decoration-line: none;
    list-style: none;
    border: unset;
    outline: unset;
    font-family: Roboto, sans-serif;
}

body {
    font-size: 14px;
    font-weight: 400;
    background-color: var(--body-bg-color);
    color: var(--color);
}